
@model GummiBearKingdom.Models.Product
@{
    ViewData["Title"] = "Products - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card card-body">
    <h3>Details</h3>
    <hr />
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<br />
    @Html.DisplayNameFor(model => model.Cost): $@Html.DisplayFor(model => model.Cost)<br />
    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)
</div>
@{
    if (Model.Reviews.Count > 0)
    {
    <div class="card card-body">
        @foreach (var review in Model.Reviews)
        {
            <p>review.Author</p>
            <p>review.Content</p>
            <hr />
        }
    </div>
    }
    else
    {
        <div class="card card-body">
            <p>There are no reviews for this product!</p>
        </div>
    }
}
<div class="card card-body">
    <h4>Add Your Review</h4>
    <hr />
    <form class="form-group" action="/Reviews/Create" method="post">
        <div class="row">
            <input class="form-control" type="hidden" name="productId" value="@Model.ProductId" />
            <div class="col-sm-6">
                <label>Your Name:</label>
                <input class="form-control" type="text" name="author" />
            </div>
            <div class="col-sm-6">
                <label>Product Rating:</label>
                <select class="form-control" name="rating">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
        <br />
        <div class="row text-center">
            <div class="col-sm-6">
                <label>Your Comments:</label>
                <textarea cols="30" rows="4" type="text" name="content"></textarea>
            </div>
            <div class="col-sm-6">
                <br />
                <button class="btn" type="submit">Submit Review</button>
            </div>
        </div>
    </form>
    <hr />
    <h5>@Html.ActionLink("Back to list", "Index")</h5>
</div>